.introduction {
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    pointer-events: none;

    .intro-content {
        position: absolute;
        top: 40%;
        width: 100%;

        .intro-text {
            .intro-title {
                color: #fff;
                font-size: 2.37rem;
                font-weight: 400;
                letter-spacing: 0.3125rem;
                text-align: center;
                opacity: 0;
            }

            .intro-subtitle {
                color: #fff;
                font-size: 1rem;
                letter-spacing: 0.05rem;
                padding-top: 2rem;
                padding-bottom: 4rem;
                text-align: center;
                opacity: 0;
            }

            .intro-btn {
                opacity: 0;
            }
        }
    }
}
