body {
    overflow: hidden;
    user-select: none;
    font-family: "Montserrat", sans-serif;
    background-color: #000;
}

html {
    font-size: 16px;

    @include respond-to("SML") {
        font-size: 20px;
    }
}
